@font-face
  font-family: "Alright Sans"
  src: url("/fonts/alrightsans-light-webfont.eot")
  src: url("/fonts/alrightsans-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/alrightsans-light-webfont.woff2") format("woff2"), url("/fonts/alrightsans-light-webfont.woff") format("woff"), url("/fonts/alrightsans-light-webfont.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Alright Sans"
  src: url("/fonts/alrightsans-medium-webfont.eot")
  src: url("/fonts/alrightsans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/alrightsans-medium-webfont.woff2") format("woff2"), url("/fonts/alrightsans-medium-webfont.woff") format("woff"), url("/fonts/alrightsans-medium-webfont.ttf") format("truetype")
  font-weight: bold
  font-style: normal
