@import "base"

body, html
  height: 100%

body
  background: $p600

#background
  canvas.quad
    z-index: -999
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0

#headline
  margin: 7px 0
  .name
    display: inline-block
  img.avatar
    margin-right: 10px
    vertical-align: top
    height: 30px
    width:  30px
    border-radius: 15px


#index
  .section
    margin: 12px 0
  #headline
    margin-top: 3em
    margin-bottom: 1em
    img.avatar
      margin-top: 10px
      height: 80px
      width: 80px
      border-radius: 40px
    @media (max-width: 480px)
      .name
        font-size: 36px
        line-height: 42px
      img.avatar
        margin-right: 0
        margin-top: 11px
        height: 50px
        width: 50px
        border-radius: 25px

.container
  position: relative
  min-height: 100%

.with-footer
  margin-bottom: 35px

#copyright
  height: 30px
  position: absolute
  left: 0
  right: 0
  bottom: 0
  text-align: center
  font-size: 18px

.space
  a
    +link-colors($p200, $p100, $c100, $p50, $c100)
  h1, h2, h3, h4, p, li, span
    text-shadow: rgba(0,0,0,0.2) 0.05em 0.1em 0.1em
    color: white

.surface
  margin: 1em auto
  padding: 1em
  h1
  background: rgba(255,255,255,0.9)
  box-shadow: 1px 3px 6px 1px rgba(0,0,0,0.25)
