= wrap_layout :home do
  #headline.space
    %img.avatar{ src: '/images/joshwlewis.jpg', alt: 'Josh W Lewis' }
    %h4.crumb
      %a{ href: '/' } Josh W Lewis
    %h4.crumb /
    %h4.crumb Essays
  = yield
