= wrap_layout :home do
  #headline.space
    %img.avatar{ src: '/images/joshwlewis.jpg', alt: 'Josh W Lewis' }
    %a.name{ href: '/' } Josh W Lewis
    %span /
    = link_to 'Essays', '/essays'
  = yield
