---
title: Essay Categories
description: I tag most of my essays with a category, here you can see the full list.
---

.surface
  %h2 Essay Category Tags
  %ul
    - blog.tags.each do |tag, articles|
      %li
        %a{ href: tag_path(tag) }= "#{tag} (#{articles.count} Essays)"
