---
title: Essays
description: My personal essays on web development, specifically with Ruby and JavaScript.
layout: blog
---

- page_articles.each do |a|
  .surface= partial(:article_preview, :locals => {:article => a})